# Reference only. 

# database
DATABASE_URL=postgresql://USER:PASSWORD@ep-example-123456-pooler.REGION.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@ep-example-123456.REGION.aws.neon.tech/neondb?sslmode=require

# hack club auth
HC_CLIENT_ID=replace-me
HC_CLIENT_SECRET=replace-me
HC_REDIRECT_URIS=replace-callback-uri
SESSION_SECRET=replace-me

# hackatime
HACKATIME_CLIENT_ID=replace-me
HACKATIME_CLIENT_SECRET=replace-me
HACKATIME_REDIRECT_URIS=replace-callback-uri
HACKATIME_TOKEN_KEY=replace-me

# admin
ADMIN_EMAILS=you@example.com

# optional
# HEALTH_TOKEN=
